<head>
<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body class="container">
<iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=2&amp;bgcolor=%23A79B8E&amp;ctz=Europe%2FWarsaw&amp;src=cWVlc2oyMDQ3ZTQ5NXZsdHU3OXU1M2Y4dnNAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;color=%23F6BF26&amp;mode=WEEK&amp;showPrint=0" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
</body>
